<div class="card border-0 shadow-sm rounded-4 mb-4">
    <div class="card-header bg-white border-0 pt-4 px-4">
        <h5 class="fw-bold mb-0">Parameters</h5>
    </div>
    
    <div class="card-body p-0">
        <div class="accordion accordion-flush" id="createParamsAccordion">
            {% include 'partials/bonnmotion/bm_mobmetrics.html' %}
            {% include 'partials/bonnmotion/bm_scenario.html' %}
            {% include 'partials/bonnmotion/bm_randomspeedbase.html' %}
            {% include 'partials/bonnmotion/models/models_main.html' %}
        </div>
    </div>
</div>