<div class="accordion-item" id="model_params">
    <div class="accordion-header">
        <button class="accordion-button collapsed fw-semibold" type="button"
            data-bs-toggle="collapse" data-bs-target="#modelsCollapse" aria-expanded="false"
            aria-controls="modelsCollapse">
            <div class="fw-semibold">
                Model Specific parameters
            </div>
        </button>
    </div>

    <div id="modelsCollapse" class="collapse">
        <div class="row mx-3 mt-2 d-none" id="modelHelpBtn">
            <div class="col-md-2">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#boundlessHelpModal" aria-controls="boundlessHelpModal">
                    How to use
                </button>
            </div>
        </div>

        {% include 'partials/bonnmotion/models/boundless.html' %}
        {% include 'partials/bonnmotion/models/column.html' %}
        {% include 'partials/bonnmotion/models/chain.html' %}
        {% include 'partials/bonnmotion/models/disasterarea.html' %}
        {% include 'partials/bonnmotion/models/originalgaussmarkov.html' %}
        {% include 'partials/bonnmotion/models/gaussmarkov.html' %}
        {% include 'partials/bonnmotion/models/manhattangrid.html' %}
        {% include 'partials/bonnmotion/models/nomadic.html' %}
        {% include 'partials/bonnmotion/models/probrandomwalk.html' %}
        {% include 'partials/bonnmotion/models/pursue.html' %}
        {% include 'partials/bonnmotion/models/randomdirection.html' %}
        {% include 'partials/bonnmotion/models/randomwalk.html' %}
        {% include 'partials/bonnmotion/models/randomwaypoint.html' %}
        {% include 'partials/bonnmotion/models/rpgm.html' %}
        {% include 'partials/bonnmotion/models/slaw.html' %}
        {% include 'partials/bonnmotion/models/smooth.html' %}
        {% include 'partials/bonnmotion/models/static.html' %}
        {% include 'partials/bonnmotion/models/steadystaterandomwaypoint.html' %}
        {% include 'partials/bonnmotion/models/swim.html' %}
        {% include 'partials/bonnmotion/models/tlw.html' %}
    </div>
</div>